services:
  web:
    build:
      context: .
      dockerfile: Dockerfile
    profiles:
      - local
    ports:
      - "4200:4200"
    volumes:
      - dependencies:/app/node_modules
      - .:/app
    tty: true
    command: /bin/bash

volumes:
  dependencies:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: ./node_modules