<div class="sidebar">
  <ul class="list-unstyled p-0 m-0">
    <li>
      <a
        href="#"
        class="d-block p-2 text-decoration-none text-reset"
        routerLink="/"
        routerLinkActive="active"
        >Overview</a
      >
    </li>
    <li>
      <a
        href="#"
        class="d-block p-2 text-decoration-none text-reset"
        routerLink="/balances"
        >Balances</a
      >
    </li>
    <li>
      <a
        href="#"
        class="d-block p-2 text-decoration-none text-reset"
        routerLink="/transactions"
        >Transactions</a
      >
    </li>
    <li>
      <a
        href="#"
        class="d-block p-2 text-decoration-none text-reset"
        routerLink="/categories"
        >Categories</a
      >
    </li>
    <li>
      <a
        href="#"
        class="d-block p-2 text-decoration-none text-reset"
        routerLink="/billing"
        >Billing</a
      >
    </li>
    <li>
      <a
        href="#"
        class="d-block p-2 text-decoration-none text-reset"
        routerLink="/expenses"
        >Expenses</a
      >
    </li>
    <li>
      <a
        href="#"
        class="d-block p-2 text-decoration-none text-reset"
        routerLink="/goals"
        >Goals</a
      >
    </li>
    <li>
      <a
        href="#"
        class="d-block p-2 text-decoration-none text-reset"
        routerLink="/settings"
        >Settings</a
      >
    </li>
  </ul>
</div>
